@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffdf8c;
  min-height: 100vh;
  padding-top: 40px;
}

.wrap {
  margin: auto;
  background: #fff;
  width: 60%;
}

@media (max-width: 1600px) {
  .wrap {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .wrap {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  body {
    padding-top: 0;
  }
  .wrap {
    width: 100%;
  }
}
